// GLOBAL VARIABLES


//------------------------------------------------------------------------------
//  RESPONSIVE BREAK POINTS
//------------------------------------------------------------------------------
$rbp_mobile_landscape: 30em; // 480px
$rbp_small_tablet_portrait: 37.500em; // 600px
$rbp_small_tablet_landscape: 50em; // 800px
$rbp_tablet_portrait: 48em; // 768px
$rbp_tablet_landscape: 64em; // 1024px
$rbp_mega_desktop: pxtoem(1140);


//------------------------------------------------------------------------------
//  COLOUR VARS
//------------------------------------------------------------------------------
$white_pure: #fff;
$black_pure: #000;

$grey1: #eee;
$grey2: #dfdfdf;
$grey3: #c0c0c0;


//------------------------------------------------------------------------------
//  BASE VARS
//------------------------------------------------------------------------------
$base_color: $black_pure;
$base_font_size: 100%;
$base_line_height: pxtoem(20);
$base_font_family: Arial, Helvetica, "Liberation sans", "Bitstream Vera Sans", sans-serif;


// CLIENT VARS
//------------------------------------------------------------------------------
