// Form variables


//------------------------------------------------------------------------------------
//  CHECKBOX
//------------------------------------------------------------------------------------


//------------------------------------------------------------------------------------
//  FIELDSET
//------------------------------------------------------------------------------------


//------------------------------------------------------------------------------------
//  INPUT
//------------------------------------------------------------------------------------
$input_border_light_clr: #ccc;
$input_border_dark_clr: #ccc;


//------------------------------------------------------------------------------------
//  LABEL
//------------------------------------------------------------------------------------


//------------------------------------------------------------------------------------
//  RADIO
//------------------------------------------------------------------------------------


//------------------------------------------------------------------------------------
//  SELECT
//------------------------------------------------------------------------------------
$select_border_light_clr: #ccc;
$select_border_dark_clr: #ccc;


//------------------------------------------------------------------------------------
//  TEXTAREA
//------------------------------------------------------------------------------------
$textarea_border_light_clr: #ccc;
$textarea_border_dark_clr: #ccc;