// GLOBAL VARIABLES


//------------------------------------------------------------------------------
//  RESPONSIVE BREAK POINTS
//------------------------------------------------------------------------------
$rbp_mobile_landscape: pxtoem(480);
$rbp_small_tablet_portrait: pxtoem(600);
$rbp_tablet_portrait: pxtoem(768);
$rbp_small_tablet_landscape: pxtoem(800);
$rbp_tablet_landscape: pxtoem(1024);
$rbp_mega_desktop: pxtoem(1140);


//------------------------------------------------------------------------------
//  COLOUR VARS
//------------------------------------------------------------------------------
$white_pure: #fff;
$black_pure: #000;

$grey1: #eee;
$grey2: #dfdfdf;
$grey3: #c0c0c0;


//------------------------------------------------------------------------------
//  BASE VARS
//------------------------------------------------------------------------------
$base_color: $black_pure;
$base_font_size: 100%;
$base_line_height: pxtoem(20);
$base_font_family: Arial, Helvetica, "Liberation sans", "Bitstream Vera Sans", sans-serif;


// CLIENT VARS
//------------------------------------------------------------------------------
