// Global variables


//------------------------------------------------------------------------------------
//  RESPONSIVE BREAK POINTS
//------------------------------------------------------------------------------------
$rbp_mobile_large: 31em; // 496px and up
$rbp_tablet: 47em;       // 752px and up
$rbp_tablet_large: 63em; // 1008px and up


//------------------------------------------------------------------------------------
//  COLOUR VARS
//------------------------------------------------------------------------------------
$white_pure: #fff;
$black_pure: #000;

$grey1: #eee;
$grey2: #dfdfdf;
$grey3: #c0c0c0;


//------------------------------------------------------------------------------------
//  BASE VARS
//------------------------------------------------------------------------------------
$base_color: $black_pure;
$base_font_size: 100%;
$base_line_height: 1.5;
$base_font_family: Arial, Helvetica, "Liberation sans", "Bitstream Vera Sans", sans-serif;


// CLIENT VARS
//------------------------------------------
