// Typography variables


//------------------------------------------------------------------------------------
//  BLOCKQUOTES
//------------------------------------------------------------------------------------
$blockquote_border_clr: $grey1;
$blockquote_cite_clr: $grey1;


//------------------------------------------------------------------------------------
//  CODE
//------------------------------------------------------------------------------------
$code_background_clr: $grey1;
$pre_border_clr: $grey1;


//------------------------------------------------------------------------------------
//  HEADINGS
//------------------------------------------------------------------------------------
$h1_color: $base_color;
$h1_line_height: $base_line_height;
$h1_size: 299.95%;

$h2_color: $base_color;
$h2_line_height: $base_line_height;
$h2_size: 187.5%;

$h3_color: $base_color;
$h3_line_height: $base_line_height;
$h3_size: 150%;

$h4_color: $base_color;
$h4_line_height: $base_line_height;
$h4_size: 100%;

$h5_color: $base_color;
$h5_line_height: $base_line_height;
$h5_size: 100%;

$h6_color: $base_color;
$h6_line_height: $base_line_height;
$h6_size: 100%;


//------------------------------------------------------------------------------------
//  HR
//------------------------------------------------------------------------------------
$hr_fade_in_clr: $grey1;


//------------------------------------------------------------------------------------
//  LINK
//------------------------------------------------------------------------------------


//------------------------------------------------------------------------------------
//  LISTS
//------------------------------------------------------------------------------------


//------------------------------------------------------------------------------------
//  TABLES
//------------------------------------------------------------------------------------
$table_heading_border_clr: $grey1;
$table_heading_background_clr: $grey1;


//------------------------------------------------------------------------------------
//  TEXT
//------------------------------------------------------------------------------------