// HELPERS
//------------------------------------------------------------------------------

// CLEARFIX
//------------------------------------------------------------------------------
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


// ELEMENT INVISIBLE
//------------------------------------------------------------------------------
.element-invisible {
  position: absolute;
  left: -999em;
}
