/**
 * STYLES
 *
 * Description:
 * Author: emcoward
 *
 */
/* line 6, ../sass/core/helpers/_helpers.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 12, ../sass/core/helpers/_helpers.scss */
.cf:after {
  clear: both;
}

/* line 16, ../sass/core/helpers/_helpers.scss */
.cf {
  *zoom: 1;
}

/* line 23, ../sass/core/helpers/_helpers.scss */
.element-invisible {
  position: absolute;
  left: -999em;
}
